{% load staticfiles %} 
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
            My Hello Web App Project
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
    {% block header %}
</head>
<body>
    <header>
        <h1 class='box_style'>The Year of Pie</h1>
            <h3>Join me on this 52 week journey,<br> one that is guaranteed to be the tastiest year yet!</h3>
        <nav>
            <ul>
                <li><a href="{% url 'home' %} ">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                {% comment %} <li><a href="{% url 'create_entry' %}">New Entry</a></li> {% endcomment %}
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                <li><a href="{% url 'password_reset' %}">Change Password</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>